body {
  color: white;
  background-color: black;
}
#app {
  padding: 20px;
}
.mui-panel {
  color: darkslateblue;
}
table {
  border: 5px solid steelblue;
  border-radius: 15px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  padding: 30px;
  width: 100%;
}
table caption {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  text-align: left;
  margin: 20px 0;
}
td {
  padding: 3px;
}
td.GRID_cell {
  display: table-inline;
}

div.mui-checkbox label {
  color: cornflowerblue;
  padding: 30px;
}
